
.news {
    padding-top: 60px;
    padding-bottom: 80px;
    &_post {
        margin: 70px auto;
        width: 1225px;
        max-width: 100%;
        &-ttl {
            width: 600px;
            max-width: 100%;
            margin: 30px auto 10px;
            font-weight: bold;
            font-size: 2.2rem;
        }
        &-img {
            width: 500px;
            margin: 0 auto;
            img {
                width: 100%;
                height: 300px;
            }
        }
        &-content {
            width: 600px;
            margin: 0 auto 50px;
            max-width: 100%;
        }
    }
    &_detail {
        display: flex;
        width: 500px;
        justify-content: space-between;
        max-width: 100%;
        margin: 0 auto 50px;
        &-category {
            border: 1px solid $txt-color;
            padding: 3px 8px;
            color: $txt-color;
        }
    }
    
}

.nav-links {
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin: 100px auto;
    max-width: 100%;
}