*,
*::before,
*::after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  text-decoration: none; }

li {
  list-style: none; }

header {
  width: 100%;
  position: relative; }
  header .header_content {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 9999; }
  header .header_inner {
    display: flex;
    height: 70px;
    width: 1225px;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
    header .header_inner img {
      padding: 5px; }
    @media screen and (max-width: 1080px) {
      header .header_inner {
        width: 90%; } }
  header .header_list {
    display: flex; }
    @media screen and (max-width: 767px) {
      header .header_list {
        position: fixed;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        z-index: 200; } }
    header .header_list ul {
      display: flex; }
      @media screen and (max-width: 767px) {
        header .header_list ul {
          width: 300px;
          padding-top: 80px;
          flex-direction: column;
          position: relative;
          background-color: #fff; } }
    header .header_list li {
      margin-left: 50px; }
      @media screen and (max-width: 767px) {
        header .header_list li {
          margin-bottom: 30px; } }
  header .toggle {
    display: none; }
    @media screen and (max-width: 767px) {
      header .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        z-index: 210;
        padding: 5px; }
        header .toggle span {
          display: block;
          position: absolute;
          width: 30px;
          border-bottom: solid 3px #333323;
          -webkit-transition: .35s ease-in-out;
          -moz-transition: .35s ease-in-out;
          transition: .35s ease-in-out; } }

.toggle span:nth-child(2) {
  top: 20px; }

.toggle.active span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.toggle.active span:nth-child(2) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }

.fixed {
  overflow: hidden; }

.header_list.open {
  right: 0;
  transition: 0.8s; }

footer {
  width: 100%;
  height: 200px; }
  @media screen and (max-width: 767px) {
    footer {
      height: 300px; } }
  footer .footer {
    display: flex;
    height: 70px;
    width: 1225px;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 40px; }
    @media screen and (max-width: 1024px) {
      footer .footer {
        width: 90%; } }
    @media screen and (max-width: 767px) {
      footer .footer {
        flex-direction: column;
        width: 100%; } }
    footer .footer_inner01 {
      display: flex; }
      @media screen and (max-width: 767px) {
        footer .footer_inner01 {
          flex-direction: column;
          justify-content: center; } }
    footer .footer_list {
      display: flex; }
      @media screen and (max-width: 767px) {
        footer .footer_list {
          width: 50%;
          flex-direction: column; } }
      footer .footer_list ul {
        margin-top: 30px; }
        @media screen and (max-width: 767px) {
          footer .footer_list ul {
            flex-direction: column;
            width: 80%;
            text-align-last: left; } }
      footer .footer_list li {
        margin-left: 50px;
        line-height: 70px; }
        @media screen and (max-width: 767px) {
          footer .footer_list li {
            margin-left: 0;
            text-align: left;
            line-height: normal; } }
    @media screen and (max-width: 767px) {
      footer .footer_sns {
        margin-top: 40px;
        width: 65%;
        text-align: right; } }

small {
  text-align: center;
  font-size: 10px; }
  small p {
    padding-bottom: 40px;
    margin-top: 200px; }

.mainvidual {
  background-color: #EAF362;
  padding-top: 70px;
  padding-bottom: 80px; }
  .mainvidual_inner {
    width: 1225px;
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
    background-image: url("../images/mainvidual_back.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 50px;
    background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (max-width: 1080px) {
      .mainvidual_inner {
        width: 90%; } }
    @media screen and (max-width: 767px) {
      .mainvidual_inner {
        flex-direction: column;
        justify-content: center;
        width: 90%; } }
    .mainvidual_inner-txt {
      font-size: 2.5rem;
      text-align: center;
      padding-bottom: 60px; }
      @media screen and (max-width: 767px) {
        .mainvidual_inner-txt {
          width: 90%; }
          .mainvidual_inner-txt img {
            width: 100%; } }
      .mainvidual_inner-txt p {
        font-size: 1.6rem; }
    .mainvidual_inner-girl {
      width: 50%; }
      @media screen and (max-width: 767px) {
        .mainvidual_inner-girl {
          width: 70%; } }
    .mainvidual_inner h2 {
      width: 100%; }
      @media screen and (max-width: 1024px) {
        .mainvidual_inner h2 img {
          width: 100%; } }

.topService {
  padding-bottom: 100px; }
  .topService_inner {
    width: 1080px;
    max-width: 100%;
    margin: 100px auto 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 1080px) {
      .topService_inner {
        width: 90%; } }
    @media screen and (max-width: 767px) {
      .topService_inner {
        flex-direction: column;
        justify-content: center;
        width: 90%; }
        .topService_inner img {
          width: 100%; } }
    .topService_inner-img {
      width: 45%; }
      @media screen and (max-width: 1024px) {
        .topService_inner-img {
          margin-bottom: 30px; } }
      @media screen and (max-width: 767px) {
        .topService_inner-img {
          width: 70%; } }
      .topService_inner-img img {
        width: 100%; }
    .topService_inner-txt {
      width: 42%;
      max-width: 100%; }
      @media screen and (max-width: 1080px) {
        .topService_inner-txt {
          width: 50%; } }
      @media screen and (max-width: 767px) {
        .topService_inner-txt {
          width: 90%;
          margin: 0 auto; } }
      .topService_inner-txt h2 img {
        width: 100%; }
      .topService_inner-txt p {
        margin-top: 50px;
        line-height: 50px; }
        @media screen and (max-width: 1080px) {
          .topService_inner-txt p {
            line-height: 25px;
            margin-top: 20px; } }

.topNews {
  background-image: url("../images/check_back.jpg");
  padding: 80px 0; }
  .topNews h2 {
    width: 200px;
    background: #fff;
    text-align: center;
    margin: 0 auto; }
  .topNews_cards {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    flex-wrap: wrap; }
    @media screen and (max-width: 1024px) {
      .topNews_cards {
        width: 90%; } }
    @media screen and (max-width: 767px) {
      .topNews_cards {
        width: 95%;
        flex-direction: column;
        justify-content: center; } }
  .topNews_card {
    width: 330px;
    height: 400px;
    max-width: 100%; }
    @media screen and (max-width: 1024px) {
      .topNews_card {
        margin-bottom: 40px;
        width: 300px; } }
    @media screen and (max-width: 767px) {
      .topNews_card {
        margin: 0 auto 40px; } }
    .topNews_card img {
      width: 100%;
      height: 230px; }
    .topNews_card h2 {
      text-align: initial;
      font-weight: bold;
      font-size: 1.8rem;
      margin: 0; }
  .topNews .article_content {
    background-color: #fff;
    position: relative;
    bottom: 10px;
    height: 175px; }
    .topNews .article_content-info {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px; }
    .topNews .article_content-txt {
      padding: 10px 20px;
      line-height: 2; }

.ig {
  background-color: #EAF362;
  padding: 50px 0; }
  .ig h2 {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center; }
  .ig_inner {
    width: 1080px;
    max-width: 100%;
    margin: 50px auto;
    background-color: #fff;
    padding: 70px 0 60px;
    text-align: center; }
    @media screen and (max-width: 1024px) {
      .ig_inner {
        width: 90%; } }
    @media screen and (max-width: 767px) {
      .ig_inner {
        padding: 20px 0; } }
    .ig_inner-gallery {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 100%;
      justify-content: space-between; }
      @media screen and (max-width: 767px) {
        .ig_inner-gallery {
          justify-content: center; } }
    .ig_inner img {
      margin-bottom: 30px; }
      @media screen and (max-width: 767px) {
        .ig_inner img {
          width: 270px; } }
    .ig_inner .sbi_header_text, .ig_inner .sbi_header_img, .ig_inner #sbi_load {
      display: none; }
    .ig_inner .sbi_photo_wrap a {
      margin: 0 auto;
      height: 200px !important; }
      @media screen and (max-width: 500px) {
        .ig_inner .sbi_photo_wrap a {
          height: 50px !important; } }
      .ig_inner .sbi_photo_wrap a img {
        width: 100%; }
    .ig_inner .sbi_phot {
      height: 250px !important; }
    @media screen and (max-width: 500px) {
      .ig_inner #sbi_images {
        display: flex !important;
        flex-wrap: wrap; } }

.topAbout {
  background-image: url("../images/check_back.jpg");
  padding: 80px 0; }
  .topAbout h2 {
    width: 250px;
    background: #fff;
    text-align: center;
    margin: 0 auto; }
  .topAbout_inner {
    width: 1080px;
    max-width: 100%;
    margin: 30px auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .topAbout_inner img {
      border-radius: 50%;
      width: 35%; }
      @media screen and (max-width: 767px) {
        .topAbout_inner img {
          width: 50%; } }
    @media screen and (max-width: 767px) {
      .topAbout_inner {
        flex-direction: column; } }
    .topAbout_inner-txt {
      padding: 30px;
      background-color: #fff;
      width: 55%;
      height: 300px;
      position: relative; }
      @media screen and (max-width: 767px) {
        .topAbout_inner-txt {
          width: 90%;
          margin-top: 40px; } }

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 105px 102px 0;
  border-color: transparent;
  border-bottom-color: #55B091;
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  right: 0; }

html {
  font-size: 64.5%;
  margin-top: 0 !important; }

body {
  font-size: 16px;
  color: #333323;
  font-family: "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif; }

a {
  color: #333323; }

.content_none {
  padding: 30px 0;
  background-color: #EAF362; }
  .content_none-inner {
    width: 60%;
    margin: 0 auto;
    max-width: 100%;
    background-color: #fff;
    padding: 40px 0; }
    .content_none-inner h2, .content_none-inner p {
      text-align: center; }

.screen-reader-text {
  display: none; }

article {
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px 1px #d7d7d7; }

.btn_content {
  display: inline-block;
  padding: 20px 60px;
  border: 3px solid #55B091;
  color: #55B091;
  width: 400px;
  max-width: 100%;
  letter-spacing: 5px;
  font-weight: bold; }
  @media screen and (max-width: 767px) {
    .btn_content {
      padding: 20px; } }
.btn_about {
  text-align: center; }
.btn:hover {
  background-color: #55B091;
  color: #fff; }
.btn_single {
  width: 300px;
  padding: 20px;
  display: flex;
  margin: 0 auto;
  align-items: center; }
  .btn_single img {
    margin-right: 20px; }

.formBtn {
  border-radius: 50px;
  background: #55B091;
  border: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: 12px;
  padding: 8px 40px;
  margin: 46px auto;
  display: inherit;
  text-align: center;
  width: 300px !important;
  height: 40px !important; }

.service_btn {
  margin-top: 40px; }

.contact {
  padding: 100px 50px;
  position: relative;
  margin-top: 60px; }
  @media screen and (max-width: 1080px) {
    .contact {
      padding-right: 5%;
      padding-left: 5%; } }
  .contact_inner {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px 0; }
    @media screen and (max-width: 1080px) {
      .contact_inner {
        padding-right: 15px;
        padding-left: 15px; } }
    @media screen and (max-width: 500px) {
      .contact_inner {
        padding: 50px 10px; } }
    .contact_inner .contact-txt {
      text-align: center;
      margin-bottom: 50px; }
  .contact_form {
    width: 500px;
    max-width: 100%;
    margin: 0 auto; }
    .contact_form p {
      font-weight: bold;
      margin-right: 10px; }
      @media screen and (max-width: 767px) {
        .contact_form p {
          margin-right: 0; } }
    .contact_form input, .contact_form textarea {
      width: 500px;
      max-width: 100%; }
    .contact_form input {
      height: 38px;
      margin-bottom: 30px; }
  .contact_item {
    display: flex;
    align-items: center; }
  .contact_must, .contact_option {
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: normal;
    padding: 0 3px; }
  .contact_must {
    color: #F71019;
    border: 1px solid #F71019; }
  .contact_option {
    color: pink;
    border: 1px solid pink; }

.select-item {
  height: 38px;
  margin-top: 10px;
  background: #F9FAFB;
  border: none;
  width: 100%; }

.posts {
  padding-top: 100px; }
  .posts_inner {
    padding-top: 50px; }
  .posts_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    max-width: 100%;
    margin: 0 auto; }

.Pagination {
  display: flex;
  justify-content: center;
  margin: 30px auto; }

.Pagination-Item {
  margin-left: 45px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #333323;
  border-radius: 50%;
  font-size: 1.66vw; }

@media screen and (max-width: 768px) {
  .Pagination-Item {
    margin-left: 16px;
    width: 40px;
    height: 40px;
    font-size: 24px; } }
.Pagination-Item.isActive {
  border: none;
  background: #333323;
  color: #fff; }

.news {
  padding-top: 60px;
  padding-bottom: 80px; }
  .news_post {
    margin: 70px auto;
    width: 1225px;
    max-width: 100%; }
    .news_post-ttl {
      width: 600px;
      max-width: 100%;
      margin: 30px auto 10px;
      font-weight: bold;
      font-size: 2.2rem; }
    .news_post-img {
      width: 500px;
      margin: 0 auto; }
      .news_post-img img {
        width: 100%;
        height: 300px; }
    .news_post-content {
      width: 600px;
      margin: 0 auto 50px;
      max-width: 100%; }
  .news_detail {
    display: flex;
    width: 500px;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto 50px; }
    .news_detail-category {
      border: 1px solid #333323;
      padding: 3px 8px;
      color: #333323; }

.nav-links {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin: 100px auto;
  max-width: 100%; }

.service h2 {
  font-size: 2.4rem;
  text-align: center; }
.service h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.0rem; }
.service_main {
  width: 1080px;
  max-width: 100%;
  margin: 120px auto; }
  .service_main-concept {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    flex-direction: column; }
    @media screen and (max-width: 767px) {
      .service_main-concept img {
        width: 80%; } }
    .service_main-concept-txt {
      margin-top: 40px;
      width: 50%; }
      @media screen and (max-width: 767px) {
        .service_main-concept-txt {
          width: 90%; } }
.service_project {
  position: relative;
  margin-bottom: 100px; }
  .service_project-back {
    background-image: url("../images/check_back.jpg");
    height: 410px; }
  .service_project-inner {
    width: 1080px;
    height: 315px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 100px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%); }
    @media screen and (max-width: 1080px) {
      .service_project-inner {
        width: 90%; } }
    @media screen and (max-width: 767px) {
      .service_project-inner {
        width: 85%;
        padding: 50px 0 0 0; } }
  .service_project-content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .service_project-content {
        flex-direction: column; } }
    .service_project-content img {
      width: 40%; }
      @media screen and (max-width: 767px) {
        .service_project-content img {
          width: 80%; } }
    .service_project-content p {
      width: 450px; }
      @media screen and (max-width: 767px) {
        .service_project-content p {
          width: 80%; } }
    .service_project-content-txt h2 {
      margin-bottom: 30px;
      text-align-last: left; }
.service_content {
  margin: 300px auto 50px;
  position: relative; }
  .service_content-inner {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto; }
    @media screen and (max-width: 1080px) {
      .service_content-inner {
        width: 90%; } }
  .service_content-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px; }
    @media screen and (max-width: 767px) {
      .service_content-lists {
        flex-direction: column; } }
    .service_content-lists-card {
      width: 300px; }
      @media screen and (max-width: 1080px) {
        .service_content-lists-card {
          width: 250px; } }
    .service_content-lists-img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid #EAF362;
      position: relative;
      margin: 0 auto 30px;
      background-color: #fff; }
      @media screen and (max-width: 1080px) {
        .service_content-lists-img {
          width: 200px;
          height: 200px; } }
      .service_content-lists-img img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  .service_content-back {
    background-image: url("../images/check_back.jpg");
    height: 65%;
    position: absolute;
    top: 240px;
    width: 100%;
    z-index: -1; }
    @media screen and (max-width: 767px) {
      .service_content-back {
        height: 85%; } }

.list_img-02 img {
  width: 70%; }

.list_img-03 img {
  width: 80%; }

.about {
  margin-top: 70px;
  position: relative;
  padding-bottom: 450px; }
  .about h2 {
    width: 1080px;
    margin: 0 auto;
    max-width: 100%; }
    @media screen and (max-width: 1080px) {
      .about h2 {
        width: 90%; } }
  .about_back {
    height: 400px;
    background-color: #EAF362;
    padding-top: 50px; }
    @media screen and (max-width: 767px) {
      .about_back {
        height: 600px; } }
  .about_inner {
    width: 1080px;
    margin: 180px auto 0;
    max-width: 100%;
    background-color: #fff;
    padding: 50px 80px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%); }
    @media screen and (max-width: 1080px) {
      .about_inner {
        width: 90%; } }
    @media screen and (max-width: 767px) {
      .about_inner {
        padding: 30px; } }
    .about_inner-block {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media screen and (max-width: 767px) {
        .about_inner-block {
          flex-direction: column; } }
      .about_inner-block img {
        width: 300px;
        border: 5px solid #EAF362;
        border-radius: 50%; }
        @media screen and (max-width: 767px) {
          .about_inner-block img {
            width: 250px; } }
      .about_inner-block-txt {
        width: 500px;
        max-width: 100%; }
      @media screen and (max-width: 767px) {
        .about_inner-block:nth-child(2) {
          flex-direction: column-reverse;
          margin-top: 50px; } }

/*# sourceMappingURL=style.css.map */
